ion-content {
  --background: var(--if-blue);
}
ion-button {
  --background: var(--if-orange);
  margin-bottom: 24px;
}
p {
  text-align: center;
  font-size: 15px;
  padding: auto 24px;
  color: var(--if-orange);
}
.logo-box {
  text-align: center;
  img {
    height: 200px;
  }
  position: relative;
}
.logo-edu {
  text-align: center;
  img {
    height: 120px;
  }
  position: relative;
}

.home-img {
  text-align: center;
  position: relative;
  img {
    height: 50hv;
  }
}
